<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>


    <form action="" method="post">
        {%csrf_token%}

        <div class="md-5">
            <label for="">Email</label>
            <input type="email" name="email">
        </div>
        <div class="mb-3">
            <label for="">Faculty name</label>
            <input type="text" name="facname">
        </div>
        <div class="mb-3">
            <label for="">Course name</label>
            <input type="text" name="course">
        </div>
        <div class="mb-3">
            <label for="">Coment</label>
            <input type="text" name="comment">
        </div>
        <button type="submit">SEND</button>
        
    </form>
    
</body>
</html>