<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <form action="" method="post">

        {%csrf_token%}
        <div class="mb-3">
            <label for="">Filim name</label>
            <input type="text" name="fname">
        </div>
        <div class="mb-3">
            <label for="">Comment</label>
            <input type="text" name="comment">
        </div>
        <div class="mb-3">
            <label for="">review</label>
            <input type="number" name="review">
        </div>
        <button type="submit">Send</button>
        
    </form>

    
</body>
</html>