body{
    background-image: url("../images/back2.jpg");
    background-size: cover;
    height: 100vh;
}


.col-6 {
    background: rgba(255, 255, 255, 0.1); 
    backdrop-filter: blur(30px); 
    -webkit-backdrop-filter: blur(30px);
}


