{%extends 'base.html'%}
{%load static%}
{%block main_block%}

<div class="container">
    <div class="row ">
        <div class="col-4"></div>
        
        <div class="col-4 border border-2 shadow rounded-3 ">
            <img src="{%static 'images/calculator.png'%}" alt="" class="w-10">
            <h1 class="display-5 text-center">Calorie calculator</h1>
            <form action="" method="post">
                {%csrf_token%}
                {{form}}
                <div class="text-center">
                    <button type="submit" class="btn btn-outline-secondary mb-3">calculate</button>
                </form>
                </div>
            <div class="mb-3 mt-3">
                BMR={{result}}
            </div>
            <div class="mt-3 mb-3">
                <p>Calorie={{Calorie}}</p>
            </div>
        </div>
        <div class="col-4"></div>
    </div>
</div>
<a href="{%url 'index'%}">go back</a>

{%endblock%}