{%extends 'base.html'%}
{%block main_block%}
<h1>Multiplication</h1>

    <form action="" method="post">
        {%csrf_token%}

        <div class="mb-3">
            <label for="">First number</label>
            <input type="number" name="num1">
        </div>
        <div class="mb-3">
            <label for="">Second number</label>
            <input type="number" name="num2">
        </div>

        <button type="submit">Get result</button>
    </form>
    {{output}}


    <a href="{%url 'index'%}">Go back</a>

{%endblock%}